.navbar {
    height: 5rem;
    width: 100vw;
    /* max-width: 80rem; */
    margin: 0;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: sticky; */
    /* try positon fixed */
    position: fixed;
    top: 0;
    z-index: 5;
    background-color: rgb(30, 30, 30);
}

.logo {
    object-fit: cover;
    width: 3rem;
  
}

.desktopmenuListItem {
    margin: 1rem;
    font-weight: 600;
    cursor: pointer
}

.desktopmenuListItem:hover {
    color: skyblue;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid skyblue;
}

.desktopmenuBtn {
    background-color: white;
    border: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;

}

.desktopmenuimg {
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin: 1rem;

}

/* if some class is active so do some transition */
.active {
    color: rgb(89, 89, 226)
}

/* for moboile */

.mobailmenu{
    height: 1.2rem;
    object-fit: cover;
    display: none;
}

.navmenu {
    position: absolute;
    top: 4rem;
    right: 2rem;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    height: fit-content;
    min-width: 15rem;
    background-color: rgb(40,40,40);
    border-radius: 1rem;
}
.listitems{
    padding: .5rem .3rem;
    margin: .2rem;
    border-radius: 2rem;
    background-color: rgb(45, 45, 45);
}

@media screen and (max-width : 850px) {
    
    .mobailmenu{
        height: 1.2rem;
        object-fit: cover;
        display: flex;
    }
    .desktopmenu{
        display: none;
    }
    .desktopmenuBtn{
        display: none;
    }
}